:root {
  /* Font scale heading */
  --heading-font-size-xl: 5rem;
  --heading-font-size-lg: 3.157rem;
  --heading-font-size-s: 2rem;
  --heading-font-size-xs: 1.4rem;


  /* Font scale body text */
  --text-lead-font-size: 1.5rem;
  --body-text-font-size: 1rem;
  --small-text-font-size: 0.7rem;

  /* Font weight */
  --font-weight-default: 600;
  --font-weight-bold: 800;

  /* Font color */
  --h1-color: #C72116;

  /* Spacing */
  --spacing-10: 0.625rem;
  --spacing-15: 0.9375rem;
  --spacing-20: 1.25rem;
  --spacing-30: 1.875rem;
  --spacing-40: 2.5rem;
  --spacing-80: 5rem;

  /* Button */
  --primary: #EA5045;
  --secundary: #C72116;
  --btn-border-color: #A11B12;
  --btn-border-width: 2px;
  --text-btn-primary: #ffffff; 



  /***************************** Aliases ******************************/
      /* Heading Alias */

  --heading-h1: var(--heading-font-size-xl);
  --heading-h2: var(--heading-font-size-lg);
  --heading-h3: var(--heading-font-size-s);
  --heading-h4: var(--heading-font-size-xs);

      /* Text Alias */

  --lead-text: var(--text-lead-font-size);
  --body-text: var(--body-text-font-size);
  --small-text: var(--small-text-font-size);

        /* Font-weigth Alias */

  --heading-display-weight: var(--font-weight-bold);
  --h2-font-weight: var(--font-weight-default);
  --h3-font-weight: var(--font-weight-default);


        /* Spacing Alias */

  --spacing-header: var(--spacing-80);
  --spacing-btn-x: var(--spacing-20);
  --spacing-btn-y: var(--spacing-10);


    /* Button Alias */

  --btn-background-default: var(--primary);
  --btn-background-hover: var(--secundary);
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}


.overskrift_section, .overskrift1 {
  font-size: var(--heading-font-size-xs);
  text-decoration: underline var(--btn-border-color);
}

.overskrift_section {
  margin-top: var(--spacing-80);
  margin-bottom: var(--spacing-30);

}
 
h1,
.heading-h1 {
  font-size: var(--heading-h1);
  font-weight: var(--heading-display-weight);
  margin-bottom: var(--spacing-15);
  margin-top: 0;
  color: var(--h1-color);
}

h2,
.heading-2 {
  font-size: var(--heading-h2);
  font-weight: var(--h2-font-weight);
  margin-top: var(--spacing-30);
  margin-bottom: var(--spacing-15);

}

h3,
.heading-3 {
  font-size: var(--heading-h3);
  margin-bottom: var(--spacing-30);
font-weight: var(--h3-font-weight);
}
h4, .heading-4 {
  font-size: var(--heading-h4);
  margin-bottom: var(--spacing-30);

}

.text-lead {
  font-size: var(--lead-text);
  margin-bottom: var(--spacing-30);
}

.text-body {
  font-size: var(--body-text);
  margin-left: var(--spacing-20);
  margin-right: var(--spacing-20);
  margin-block: var(--spacing-15);

  color: #4b4b4b;

}

.text-small {
  font-size: var(--small-text);
}

article {
  max-width: 65ch;
  margin: 5rem auto;
}



/* :is(h1, h2, h3, h4, p):first-child, 
:is(h1, h2, h3, h4) + * {
  margin-block-start: 0;
}

:is(h1, h2, h3, h4, p):last-child {
  margin-block-end: 0;
} */

.btn, a {
background-color: var(--btn-background-default); 
padding-left: var(--spacing-btn-x);
padding-right: var(--spacing-btn-x);
padding-top: var(--spacing-btn-y);
padding-bottom: var(--spacing-btn-y);
color: var(--text-btn-primary);
border-radius: 12px;
border: var(--btn-border-width) solid var(--btn-border-color);
font-weight: var(--font-weight-bold);
}

.btn:hover, a:hover {
  background-color: var(--btn-background-hover); 
}

/* card */

img {
  width: 20rem;
  border-radius: 10px 10px 0px 0px;
}

.card {
  width: 20rem;
  border-radius: 12px;
  box-shadow: 6px 6px 10px 2px #c7c7c7;
  margin-left: 10rem;
}

.card_heading {
  margin-left: var(--spacing-20);
}
